[user]
    name = Jonas Hietala
    email = mail@jonashietala.se
    signingkey = AE6E589C

[alias]
    # Stuff mostly taken from
    # http://www.metacircus.com/hacking/2011/02/18/play-git-like-a-violin.html

    # Commits
    c = commit
    cm = commit -m
    cam = commit -a -m
    # Amend to previous commit
    ca = commit --amend
    caa = commit -a --amend

    # Resets
    # Soft
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    # Hard
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard

    # Common shortcuts
    s = status
    d = diff
    a = add
    co = checkout
    b = branch
    l = "!pretty_git_log"
    f = fetch
    p = push
    pu = pull
    sw = switch
    re = restore

[core]
    pager = less -r
    excludesfile = *.swp
[push]
    default = simple
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[pull]
    rebase = false
[merge]
    renamelimit = 3000
[commit]
	gpgSign = true
[gpg]
	program = gpg2
[init]
	defaultBranch = master
