.backgrounds
.backup
.cache
.config
.icons
.local
.macromedia
.mozilla
.ssh
.subversion
.themes
.thumbnails
.wicd
.wine
Desktop
Pictures
etc
bin
jobb
projects
rakudo
kurser
gtk_dev
RevengeOfTheTitans*
.Revenge of the Titans*
.bash_history
.gitconfig
.googlecl
.gtk-bookmarks
.font*
.ICE*
.PeaZip
.fluxbox
.Skype
.Xauthority
.autostart
.dbus
.esd_auth
.gftp
.gimp*
.gnupg
.gstreamer*
.hplip
.java
.kde
.openoffice*
.purple
.recently-used*
.serverauth*
.xchat2/scrollback
.xchat2/chanopt.conf
.xchat2/downloads
.xine
.xmms
.xscreensaver*
.xsession
.vim/backup
.vim/tmp
.viminfo
.vimsize
.xmonad/*.errors
.xmonad/*.hi
.xmonad/*linux
*.o
*~
.uzbl/history
.uzbl/plugins
*.png
.uzbl/*-example
.uzbl/dforms
.uzbl/data
slackware
stuff
.screenrc
.workrave
.xchat2
.xinitrc
.wine*
.btpd
torrents
.nvidia*
.adobe
.dosbox
.lesshst
.wireshark
.zcompdump
.zsh_history
.lastpass
.irssi
build
StarCraft II/
*.autosave
.irssi
.links
.minecraft
.mysql*
.my*
csn
*.sql
minecraft
movies*
sc2*
schema*
vim-cheat-sheet*
usb-backup
*xmonad-1*
*xmonad-2*
*xmonad-example*
.crash_report*
*astmatix*
.cabal
.ghc
.mplayer
.octoshape
quicklisp
.filezilla
.atomo_history
.allegro*
.mpd/
music
.sh_history
