.backgrounds
.backup
.cache
.config
.icons
.local
.macromedia
.mozilla
.ssh
.subversion
.themes
.thumbnails
.wicd
.wine
Desktop
Pictures
etc
jobb
projects
rakudo
kurser
gtk_dev
RevengeOfTheTitans*
.Revenge of the Titans*
.bash_history
.gitconfig
.googlecl
.gtk-bookmarks
.font*
.ICE*
.PeaZip
.fluxbox
.Skype
.Xauthority
.autostart
.dbus
.esd_auth
.gftp
.gimp*
.gnupg
.gstreamer*
.hplip
.java
.kde
.openoffice*
.purple
.recently-used*
.serverauth*
.xchat2/scrollback
.xchat2/chanopt.conf
.xchat2/downloads
.xine
.xmms
.xscreensaver*
.xsession
.vim/backup
.vim/tmp
.viminfo
.vimsize
.xmonad/*.errors
*.o
*~
.uzbl/history
.uzbl/plugins
.uzbl/style.css
.uzbl/status
*.png
.uzbl/*-example
.uzbl/uzbl_config
.uzbl/bookmarks
.uzbl/article_queue
.uzbl/dforms
slackware
stuff
.screenrc
.workrave
.xchat2
.xinitrc
.wine*
