*.autosave
*.o
*.png
*.sql
*astmatix*
*xmonad-1*
*xmonad-2*
*xmonad-example*
*~
.ICE*
.PeaZip
.Revenge of the Titans*
.Skype
.Xauthority
.adobe
.allegro*
.atomo_history
.autostart
.backgrounds
.backup
.bash_history
.btpd
.cabal
.cache
.config
.cpan
.crash_report*
.dbus
.dosbox
.esd_auth
.filezilla
.fluxbox
.font*
.gconfd
.gftp
.ghc
.gimp*
.gnupg
.googlecl
.gstreamer*
.gtk-bookmarks
.hplip
.icons
.irssi
.irssi
.java
.kde
.lastpass
.lesshst
.links
.local
.macromedia
.minecraft
.mozilla
.mpd/
.mplayer
.mtpaint_fonts
.my*
.mysql*
.nvidia*
.octoshape
.openoffice*
.pki
.purple
.recently-used*
.screenrc
.serverauth*
.sh_history
.ssh
.subversion
.themes
.thumbnails
.tor
.uzbl/*-example
.uzbl/data
.uzbl/dforms
.uzbl/history
.uzbl/plugins
.vim/backup
.vim/tmp
.viminfo
.vimsize
.wicd
.wine
.wine*
.wireshark
.workrave
.xchat2
.xchat2/chanopt.conf
.xchat2/downloads
.xchat2/scrollback
.xine
.xinitrc
.xmms
.xmonad/*.errors
.xmonad/*.hi
.xmonad/*linux
.xscreensaver*
.xsession
.zcompdump
.zsh_history
Desktop
Pictures
RevengeOfTheTitans*
StarCraft II/
bin
build
csn
etc
gtk_dev
jobb
kurser
minecraft
movies*
music
projects
quicklisp
rakudo
sc2*
schema*
slackware
stuff
timelapse
torrents
usb-backup
vim-cheat-sheet*
blog/
lib/
share/
.thunderbird
.mtpaint
.vim/netrwhist
.gEDA
.gitk
.lftp
.lmmsrc.xml
.lyx
.ngspice_history
.octave_hist
.opera
.vbam
Software.ini
gameboyadvance
nintendo-ds
yankring_history*
