#ifdef COLOR
*customization: -color
#endif

! Blink
*visualBell: False

! urxvt
URxvt*color0: #4E4E4E
URxvt*color1: #FF6C60
URxvt*color2: #A8FF60
URxvt*color3: #FFFFB6
URxvt*color4: #96CBFE
URxvt*color5: #FF73FD
URxvt*color6: #C6C5FE
URxvt*color7: #EEEEEE

URxvt*color8: #4E4E4E
URxvt*color9: #FF6C60
URxvt*color10: #A8FF60
URxvt*color11: #FFFF6A
URxvt*color12: #96CBFE
URxvt*color13: #FF73FD
URxvt*color14: #C6C5FE
URxvt*color15: #EEEEEE

! URxvt*font: xft:Monospace:pixelsize=14
! URxvt*letterSpace: -1

! Ability to print hangul symbols.
! Find baekmuk-fonts-ttf.SlackBuild
!urxvt*font: xft:Monospace:pixelsize=14,\
!            xft:Baekmuk Gulim
!URxvt*letterSpace: -1

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
!Xft.hintstyle: hintslight
Xft.hintstyle: hintsfull

! Testing some fonts...
URxvt*font: xft:Consolas:size=12
!URxvt*font: xft:Inconsolata:size=12
URxvt*letterSpace: -1
!URxvt.lineSpace: -1
URxvt.lineSpace: 0

! Fonts
!URxvt.allow_bold: false
!URxvt*font: xft:Consolas:pixelsize=16
!URxvt*boldFont: xft:Consolas:pixelsize=14

! Fix font space
!URxvt*letterSpace: -1

URxvt.urgentOnBell: true
URxvt.scrollBar: false

URxvt*pointerColor: red
URxvt*pointerColorBackground: black
URxvt*cursorColor: green
URxvt*background: black
URxvt*foreground: white
!URxvt*visualBell: false

XTerm*background: black
XTerm*foreground: white
! Testing...
URxvt*buffered: false

