#ifdef COLOR
*customization: -color
#endif

! Blink
*visualBell: False

XTerm*internalBorder: 0
XTerm*loginShell: false

XTerm*scrollBar: false
XTerm*scrollKey: true

XTerm*saveLines: 1000
XTerm*multiClickTime: 250

XTerm*faceName: Consolas
XTerm*faceSize: 10
XTerm*utf8: 1

XTerm*background: black
XTerm*foreground: white

XTerm*pointerColor: red
XTerm*pointerColorBackground: black
XTerm*cursorColor: green

XTerm*termName: xterm-256color
